{% load static %}
<div class="ui container">
  <div class="ui large secondary pointing menu">
    <!-- <a class="toc item">
      <i class="sidebar icon"></i>
    </a> -->
    <a href="/" class="item">
        <img class="logo" src="{% static 'website/logo.png' %}" alt="Data4Good logo">
    </a>
    <a href="/organization"  class="item">
        Our Organization
    </a>
    <a href="/projects" class="item">
        Projects
    </a>
    <!--TODO: Release 2.0-->
    <!-- <a href="/datasets" class="item">
        Data Sets
    </a> -->
    <a href="/contribute" class="item">
        Contribute
    </a>
    <a href="/faq"  class="item">
        FAQ
    </a>
    <!--TODO: Authentication, as a stretch goal-->
    <!-- <div class="right item">
      <a class="ui button">Log in</a>
      <a class="ui primary button">Sign Up</a>
    </div> -->
  </div>
</div>
